doctype html
html
  head
    meta(charset="UTF-8")
    title Rest Shop
    link(rel="stylesheet" href="/lib/foundation/css/normalize.min.css")
    link(rel="stylesheet" href="/lib/foundation/css/foundation.min.css")
    link(href="/css/rest_shop.css" rel="stylesheet" type="text/css")
  body
    nav.top-bar
      ul.title-area
        li.name
          h1
            a(href="/")
              p The Rest Shop
      section.top-bar-section
        ul.right
          li
            a(href="/")
              p View Orders

    block content

    script(type="text/javascript" src="/lib/jquery/dist/jquery.min.js")
    script(type="text/javascript" src="/lib/foundation/js/foundation.min.js")
    script(src="/js/script.js")